* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
/* header */
header {
  display: flex;
  width: 100%;
  height: 40vh;
  background-image: url(./imges/25633215_7117293.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 16px;
  padding-bottom: 40px;
}
header h1 {
  color: white;
  font-size: 16px;
}

/* section */

section {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2%;
}
section div {
  width: 340px;
  margin: 4% 0;
  line-height: 25px;
  box-shadow: 0 0 10px blue;
}

section div p {
  padding: 4%;
}

/* parallax container */
.parallax {
  background-image: url(./imges/anime-style-character-meditating-contemplating-mindfulness.jpg);
  /* center/cover no-repeat fixed; */
  height: 20em;
  background-color: blue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* section stsff */

.staff {
  display: flex;
  background-color: bisque;
}

.box-staff-about {
  background-color: ;
}

.main-headin {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  color: blue;
}
.second-headin {
  text-align: center;
  margin-top: 24px;
  color: blue;
}
/* tablet */
@media only screen and (min-width: 767px) {
  header h1 {
    font-size: 26px;
  }
  section div {
    width: 330px;
  }
}
/* desktop */
@media only screen and (min-width: 991px) {
  header h1 {
    font-size: 60px;
    color: brown;
  }
  section {
    flex-direction: row;
  }
}
